{% extends 'admin/change_list.html' %}

{% block object-tools %}

    Total Balance: Rs. {{ total }}
    
    {{ block.super }}
    <br />
    <br />
    <button type="button" style="width:20%;border:none;padding:5px;margin-right:1rem;background-color:#264b5d">
        <a style="color:white;padding:5px;font-family:'Roboto';" href="{% url 'funds-distribute' %}">Auto Distribute Funds</a></button>

    <button type="button" style="width:20%;border:none;padding:5px;margin-right:1rem;background-color:#264b5d">
            <a style="color:white;padding:5px;font-family:'Roboto';" href="{% url 'undo-funds-distribute' %}">Undo Auto Distribution</a></button>      
    <br />
    <br />
{% endblock %}

